* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 2px solid #a8a8a8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  .sub_dot {
    position: absolute;
    top: 1px;
    left: 1px;
    cursor: pointer;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #a8a8a8;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}

.wrapper_dot {
  padding: 0 3px;
  border-radius: 50%;
}

.wrapper_dot:hover {
  .dot {
    border: 2px solid #f2f2f2;
    .sub_dot {background-color: #f2f2f2;}
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.swiper_content_first {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 100px;
}

.swiper_span {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Poppins';
}

.side_content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 700px;
  padding-right: 40px;
  div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

.swiper_wrapper {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../assets/bg_1.jpg");
}

.swiper_p {
  font-size: 70px;
  font-family:  'Square Peg', cursive;
  color: rgb(242,200,96);
  letter-spacing: 2px;
}

.swiper_title {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  margin: 10px 0 20px 0;
}

.swiper_buttons_wrapper {
  display: flex!important;
  flex-direction: row!important;
}

.swiper_button_content {
  border: 1px solid white;
  background: none;
  color: white;
  width: 120px;
  height: 50px;
  cursor: pointer;
  &:hover {
    border: none;
    background-color: rgb(250,196,100);
  }
}

.active_swiper {
  border: none;
  background-color: rgb(250,196,100);
}

.swiper_button_content {
  margin: 40px 0 0 10px;
}

//====================================

.swiper_content_two {
  display: flex;
  padding-top: 100px;
  align-items: center;
  .side_content_two {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 700px;
    padding-left: 40px;
    div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

//==========three===================

.swiper_content_three {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .swiper_buttons_wrapper {
    justify-content: center;
  }
}